body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: #111;
}

*{
    box-sizing: border-box;
}


img{
    height: 50px;
}

ul{
    list-style-type: none;
    padding: 0;
}

header{
    min-height: 100vh;
    background: url(https://img.freepik.com/free-photo/close-up-cobbler-working-with-leather-textile_171337-12258.jpg?w=740&t=st=1677007012~exp=1677007612~hmac=86cbf7f7a59111908e71e728193fa8481f87c0ac0a40b252f33ea343f1ecf3d6) no-repeat center;
    background-size: cover;
}

main{
    padding: 2em;
    background: #111;
}

main p{
     font-size: 1.1em;
     line-height: 27px;
     color: #fff ;
}

.container, .container-inner {
    margin: 0 auto;
    width: 100%;
}

.container{
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-inner{
max-width: 1000px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9 ;
    transition: 0.7s;
    color: #fff;

}

.brand{
    font-size: 1.6em;

}

nav .container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .container ul{
    width: 100;
    margin: 0 1em;

}

nav .container ul:nth-child(2) {
    text-align: right;
}

nav .container ul li {
    display: inline-block;
    margin: 0 0.7em;
}

nav a {
    text-decoration: none;
    font-size: 0.9em ;
    transition: 0.3s;
    font-weight: 600 ;
    color: #fff;
}

nav a:hover{
    color: #38a6cb
    ;
}

.input-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

.logo{
    height: 50px;
}


form input,
form button {
    background: none;
    border: none;
    color: #fff;
}

form button{
    cursor: pointer;
}

form input::placeholder{
    color: #fff;
}

form input:focus{
outline: none;

}

nav .fa-bars{
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}

nav .fa-bars:hover{
    color: #38a6cb;
}

.menu{
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s
    cubic-bezier(.74,-0.03,.83,.67);
    overflow-y: hidden;
}

.logo{
    width: 3em;
}

.menu ul, .menu form {
    margin: 1em auto;
}

.menu li {
    margin: 1em 0;
}


.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu > div::-webkit-scrollbar{
    display: none;
}

.menu .social-media{
    margin: 2em 0;
}

.social-media li {
    display: inline-block;
    margin: 0 0.5em;
}


/* js  */


.menu-open{
    height: 100vh;
    opacity: 1;
}

.navbar-active{
    background: #111;
    padding: 1em;
}


/* responsive  */

@media screen and (max-width:800px)  {
    nav .container-inner{display: none;}
    nav .container{grid-template-columns: 1fr 1fr;}
    
}

@media screen and (min-width:800px) {
    .menu form{display: none;}
}

@media screen and (max-width:400px) {
    html {font-size: 13px;}
}


span{
    color: #38a6cb
    ;
}

.fab{
    /* color: #50c878;  */
}


.fab:hover{
    color: #e54416;
}


/* footer  */
footer{
    width: 100%;
    background: linear-gradient(to right, #111 ,#1d667e );
    color: #ffffff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 60px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: white;
}
.emaili{
    height: 25px;
}

.form2{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
   margin-bottom: 50px;  
}

.form2 input{
    /* width: 100%;  */
    color: #ccc;
    outline: none;
    border: 0;
}


.foot-icon{
    height: 20px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: o;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width:700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
     
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%; 
    }
}

.foot-tag{
    color: #38a6cb;
}


/* footer  */